.fc-section-cards{

    & .cards{
        padding-right: 0.9rem;
        padding-left: 0.9rem;
    }

    & .cards-style{
        &--primary{
            & .content-cards{
                position: relative;
                overflow: hidden;

                & img{
                    margin-bottom: 0;
                    aspect-ratio: 4/3;
                }

                &:hover{
                    & .card-content{
                        top: 0;

                        & p{
                            opacity: 1;
                        }
                    }
                }

                & .card-content{
                    position: absolute;
                    top: calc( 100% - 4.75rem);
                    padding: 1.7rem;
                    background: rgba(6, 47, 110, 0.80);
                    transition: all 0.5s ease;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    
                    & *{
                        color: $white;
                    }

                    & a{
                        text-decoration: none !important;
                    }

                    & a.card-button{
                        text-decoration: none;
                        //font-size: 1.125rem;
                        align-self: flex-end;
                        justify-self: flex-end;
                        margin-top: auto;
                        background: $white;
                        display: flex;
                        align-items: center;
                        padding: 0.5rem 0.75rem;

                        & .button-text{
                            width: 0;
                            height: 0;
                            overflow: hidden;
                            padding: 0;
                            margin: 0;
                        }

                        & .arrow{
                            width: 16px;
                            height: 14px;
                            display: inline-block;
                            background-size: cover;
                            background-image: url('data:image/svg+xml,<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 11.8687L14 5.86865L8 0.368652" stroke="%23062F6E"/><path d="M0 5.86865H13.5" stroke="%23062F6E"/></svg>');
                        }
                    }

                    & h3{
                        padding-bottom: 0;
                    }

                    & p{
                        opacity: 0;
                        margin-bottom: 0;
                        padding-bottom: 1rem;
                        transition: opacity 0.5s ease;
                    }
                }



            }
        }
    }

    & .content-cards{

        & img{
            aspect-ratio: 3/2;
            object-fit: cover;
            margin-bottom: 2rem;
            min-width: 100%;
        }

        & h3{

            &  a{
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 1.3;
                color: $black;
                
                // letter-spacing: 0.3rem;
                // text-transform: uppercase;
            }
        }

        & p{
            // font-size: 1.3125rem;
            // font-style: normal;
            // font-weight: 400;
            // line-height: 1.75rem; /* 133.333% */
            margin-bottom: 1.5rem;
        }

        & > a{
            color: $black;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
            line-height: 1.45;
            text-decoration-line: none;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
        }

    }

   

}

.fc-section-columns + .fc-section-cards{
    margin-top: 2rem;
}