.fc-section-edge-grid{

    & .edge-grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;

        & .grid-cell{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem 0 2rem 0;

            & img{
                margin-bottom: 1rem;
                border-radius: 100px;
            }

            & .edge-cell-title{
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 1.5;
                text-align: center;
            }

            & .edge-cell-descr{
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.5;
                text-align: center;
            }

            &:nth-child(2){
                border-left: 1px solid rgba(255, 255, 255, 0.50);
            }
            &:nth-child(3){
                border-top: 1px solid rgba(255, 255, 255, 0.50);
            }
            &:nth-child(4){
                border-top: 1px solid rgba(255, 255, 255, 0.50);
                border-left: 1px solid rgba(255, 255, 255, 0.50);
            }
        }
    }
}