.fc-section-accordion-simple, .fc-section-accordion-tabs {
  //padding-bottom: 80px;
  width: 100%;

  .tabs {
    margin: 0;
    //border: 1px solid $black;
    border: 0px solid transparent;
    background: #fff;
    list-style-type: none;
    // display: flex;
    // gap: 1rem;

    &-content{
      border: none;
      padding: 0;
    }
  } 

  .tabs-title{
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .tabs-title>a {
    border: 1px solid $primary;
    display: block;
    padding: 1rem 3rem;
    
    font-size: .925rem;
    line-height: 1;
    color: $black;
    text-decoration: none;
    
  }

  .tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
    background: $primary;
    color: #fff;
  }

  .tabs-panel {
    border: none;
    padding: 0;
  }

  .accordion {
    background: transparent;
    //border-bottom: 1px solid $grey-border;

    &.separated {
      border-top: none;
      border-bottom: 0px solid transparent;

      .accordion-item {
        margin-bottom: 24px;
      }

      .accordion-topic {
        border-top: 1px solid $grey-border;
        border-bottom: 1px solid #DEDEDE;
        overflow: hidden;
      }

    }

    &.in-tabs {
      border-top: none;
    }

    .accordion-topic {
      //border: 0px solid transparent;
      border-bottom: 1px solid #DEDEDE;
      padding: 2.5rem 0;
      position: relative;
      //background: $white;

      h4 {
        font-family: $sans;
        margin-bottom: 0;
        font-size: 1.6875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4;
        padding-right: 3rem;

        @include breakpoint(small only) {
          font-size: 1.2rem;
        }
      }

      .accordion-arrow {
        border-left: 0px solid transparent;
        display: flex;
         align-items: center;
         justify-content: center;
        height: 100%;
        position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
        transition: all .5s ease;

        & .accordion-open{
          & svg path:first-child{
            stroke: $tertiary;
          }
          & svg path:last-child{
            fill: $tertiary;
          }
        }

        & .accordion-close{
          & svg path:first-child{
            stroke: $tertiary; 
            fill:$tertiary;
          }
          & svg path:last-child{
            fill: $white;
          }
        }




        i {
          color: $black;
          font-size: 34px;
        }

      }

      &:hover .accordion-arrow {
        //background-color: $primary;

        i {
          color: $primary; // #fff;
        }

      }


      // &.current .accordion-arrow i {
      //   transform: rotate(-90deg);
      // }


      & .accordion-close{
        display: none;
      }

      &.current {
        & .accordion-open{
          display: none;
        }
        & .accordion-close{
          display: inline-block;
        }
      }

      

    }

    .accordion-response {
      padding: 22px 0;
      padding-bottom: 2.5rem;
      display: none;

      &.current {
        background-color: transparent; // $white; 
      }

      h1, h2, h3, h4, h5, h6, ul, p {
        max-width: 1070px;
      }

      p, li {
        font-size: 20px;
      }
      
    }

  }

}


.fc-section-columns + .fc-section-accordion-simple,
.fc-section-columns + .fc-section-accordion-tabs{
  margin-top: 1rem;
}


.fc-faq-section:not(.fc-section-accordion-simple){

  margin-top: 2rem;

  & .accordion-arrow{
    display: none;
  }

  & .faq_question{
    display: flex;
  }

  & .faq_answer{
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 2.5rem;
  }
}