.fc-section-columns {
  
  .content-columns {
    // margin-bottom: 40px;
    // padding-bottom: 15px;
    padding-right: 20px;
  }

}

.fc-section.lines {

  .fc-section-columns {
  
    .content-columns {
      border-left: 1px solid #c3c3c3;
      padding-left: 20px
    }
    
  }

  .card-cell-columns {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    overflow: hidden;
  }

}


.column-gap{

  &--0{
    
    & .columns:first-child{
      padding-right: 0;
    }
    & .columns:last-child{
      padding-left: 0;
    }

  }

  &--1{
    
    & .columns:first-child{
      padding-right: 1rem;
    }
    & .columns:last-child{
      padding-left: 1rem;
    }

  }

  &--2{
    
    & .columns:first-child{
      padding-right: 2rem;
    }
    & .columns:last-child{
      padding-left: 2rem;
    }

  }

  &--3{
      
      & .columns:first-child{
        padding-right: 3rem;
      }
      & .columns:last-child{
        padding-left: 3rem;
      }
  }

  &--4{
      
      & .columns:first-child{
        padding-right: 4rem;
      }
      & .columns:last-child{
        padding-left: 4rem;
      }
  }

  &--5{
      
      & .columns:first-child{
        padding-right: 5rem;
      }
      & .columns:last-child{
        padding-left: 5rem;
      }
  }


}

.column-align{

  &--flex-end{
    &.columns .content{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}