.row:has(.icon-column){
    display: flex;
    width: 100%;
    max-width: 100%;
}

.flexible-market-icons{

    // & > .columns.small-12{
    //  padding-left: 3rem;
    //  padding-right: 3rem;   
    // }

    & .slick-slide > div{
        display: flex;
        width: 100%;
        justify-content: center;
        
     }
    
    & .icon-column{
        gap: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1.5rem;
    
        @media screen and (max-width: 768px){
            max-width: 9rem;
         }
    
       
    
        & .market-icon-card,
        & .market-icon-card >a{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            text-align: center;
            text-decoration: none;
    
            &__icon{
                background: $white;
                border-radius: 50%;
                width: 105px;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                align-items: center;
    
                @media screen and (max-width: 768px){
                    width: 85px;
                    & img{
                        max-width: 36px !important;
                    }
                }
    
                & img{
                    max-width: 55px;
                }
            }
    
            &__name{
                color: $primary;
                text-align: center;
                font-family: $avenir, sans-serif;
                font-style: normal;
                line-height: 1;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 800;
                
        
    
                @media screen and (max-width: 768px){
                    font-size: 1.125rem;
                }
    
    
            }
    
    
    
        }
    }

    .slick-arrow{
        @media screen and (max-width: 768px){
            position: absolute;
            bottom: 0;
            top:calc(100% + 1rem);

        }

        &.slick-prev{
            left: calc(50% - 3rem);
        }
        &.slick-next{
            right: calc(50% - 3rem);
        }
    }
}








.fc-section-dark{
    .market-icon-card__name{
        color: #FFF;
    }
}

