.breadcrumbs {
  margin: 1.35rem 0 4rem;

  & li{
    font-size: 1.125rem;
    text-transform: none;
    margin-right: 0.25rem;

    @media screen and (max-width: 768px){
      font-size: 0.875rem;
    }


    & a{
      text-decoration: none;
      color: #888;

      &:hover {
        text-decoration: underline;
      }
    }
  }


  span > a > span {
    
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
  }

  span {
    font-weight: 500;
  }


  & li:not(:last-child)::after{
    content: '>';
    color: #888;
    font-weight: 500;
  }
}