$top-header-background: $top-header-background;
$top-header-color: $top-header-color;
$top-header-link-color: $top-header-link-color;

.top-header {
  background-color: $top-header-background;
  color: $top-header-color;
  position: relative;
  z-index: 10;

  .top-header-navigation {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        color: $top-header-link-color;
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        line-height: 36px;

        @include breakpoint(medium) {
          line-height: 40px;
          font-size: 13px;
        }

      }

    }

    &.top-header-navigation-right {
      float: right;
      display: flex;
      list-style: none;

      li {
        margin-left: 11px;

        @include breakpoint(medium) {
          margin-left: 20px;
        }

        i {
          color: $secondary;
          margin-left: 5px;
          //display: none;

          @include breakpoint(medium) {
            margin-left: 9px;
            //display: inline-block;
          }

        }

      }

    }
    
  }

  .top-header-search {
    display: flex;
    padding: 4px 0;

    .search-form {
      display: flex;
      align-items: center;
      gap: 6px;

      label {
        display: flex;
        align-items: center;
  
        i {
          color: $secondary;
          margin: 6px 10px 0 0;
          font-size: 13px;
        }
  
        input {
          background-color: transparent;
          border: none;
          border-radius: 5px;
          font-size: 12px;
          height: 24px;
          margin-bottom: 0;
          position: relative;
           top: 3.5px;

          @include breakpoint(medium) {
            font-size: 13px;
            height: 28px;
          }

          &::placeholder {
            color: #fff;
          }

          &:focus {
            //background-color: $lite-blue;
            background-color: #fff;

            &::placeholder {
              color: #ccc;
            }

          }

        }
  
      }

      .button {
        background-color: transparent;
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 20px;
        padding-top: 6px;
        //display: none;
        color: $secondary;
      }

    }

  }

}

.home header.main-header{
  background: transparent;
  width: 100%;
  position: absolute;

  & ul.primary-navigation > li:last-child a{
    background: #fff;
    color: $primary;
  }
}



.main-header {
  padding: 10px 0 16px;
  position: relative;
  width: 100%;
  z-index: 10;
  background-color: $primary;
  // box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  @include breakpoint(medium) {
    padding: 20px 0 20px;
  }

  & > .row{
    max-width: 1500px !important;
  }

  .menu-icon {
    margin-top: 9px;
    float: right;

    &:after{
      background: #fff;
      box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
    }
  }
  
  .main-logo {
    height: 30px;
    line-height: 45px;
    display: flex;
     align-items: center;
     justify-content: flex-start;

    @include breakpoint(medium) {
      //height: 40px;
      //line-height: 50px;
      height: 50px;
    }

    img {
      height: 100%;
      vertical-align: middle;
    }

  }

}

.no-js .main-header .primary-navigation {
  display: none;
}

.main-header ul.primary-navigation {
  //margin: 10px 0 0;
  display: flex !important;
  justify-content: flex-end;
  gap: 1.35rem;
  align-items: center;
  line-height: 50px;
  //height: 40px;
  height: 50px;
  

  & > li {
    line-height: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    
    & > a {
      //border-bottom: 5px solid transparent;
      color: $white;
      display: block;
      font-size: .925rem;
      font-style: normal;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $avenirNext;
      padding: 0;
    }

    &:hover > a {
      color: $light-gray;
    }

    &:last-child {
      margin-left: 10px;

      a {
        background-color: $tertiary;
        border-bottom: none;
        border-radius: 3rem;
        color: #fff;
        font-weight: 600;
        padding: 11px 17px;

        i {
          margin-left: 12px;
        }
      }


      &.active {

        > a {
          //background: $secondary;
          background-color: $secondary;
          color: #fff;
        }

      }

    }

    &.active {
      background-color: transparent;

      > a {
        background-color: transparent;
        color: $white;
      }

      > ul > li.active {
        background-color: transparent;

        > a {
          border-color: $pet-md-gray !important;
          background-color: transparent;
        }

        > ul > li.active > a {
          background-color: transparent;
          color: $secondary !important;
        }

      }

    }

    &.menu-solutions {

      ul.submenu.first-sub {
        min-height: 270px !important;
      }

    }

    ul.submenu.first-sub {
      background-color: #fff;
      border: none; //1px solid #f4f4f4;
      
      border-top: 4px solid $tertiary;
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0 2px 3px rgba(#999,.1);
      //min-height: 270px;
      top: 100%;
      left: 50% !important;
      transform: translate(-50%);
      text-align: left;
      padding: 1rem 0.75rem;

      

      & > li {
        margin: 5px 0;
        position: static;

        

        & > a {
          border-radius: 0;
          border: 0px solid transparent;
          color: $primary;
          font-size: 15px;
          font-weight: 500;
          transition: all 0.13s;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          text-decoration: none;
          border-bottom: 1px solid transparentize($secondary, 0.6);
        }

        &:hover > a,
        &:focus > a {
          //border-color: #04b2e1;
          //background: #fbfbfb;
          border-bottom: 1px solid transparentize($primary, 0.5);
          

          &::before {
            color: #04b2e1;
            opacity: 1;
          }
        }

        &.has-submenu {
          & > a {
            &::before {
              color: $primary;
              content: "\f054";
              font-family: $fontawesome;
              font-weight: 700;
              display: block;
              margin-left: auto;
              opacity: 0.6;
              transition: color 0.3s;
              order: 2;
              font-size: 12px;
            }
          }

          > ul {
            position: absolute;
            left: calc( 100% - 1px);
            top: 1px;
            min-height: 100%;
            padding: calc(1rem + 4px) 0.75rem;
            columns: 1;
            background-color: #fbfbfb;
            border: none;
            //border-top: 1px solid #f4f4f4;
            //border-right: 1px solid #f4f4f4;
            //border-bottom: 1px solid #f4f4f4;
            border-left: 1px solid #f4f4f4;
            border-radius: 0 0 4px 0;
            box-shadow: 2px 2px 3px rgba(#999,.1);
            margin-left: -4px;

            &:before{
              content: '';
              position: absolute;
              top: -4px;
              height: 4px;
              width: 100%;
              left: 0;
              background-color: $primary;
              border-radius: 0 4px 0 0;
            }

            li {
              margin: 0 0 3px 0;
              width: 50%;
              
              a {
                white-space: nowrap;
                font-size: 15px;
                line-height: 1.2;
                font-family: $sans;
                font-weight: 500;
                color: $primary;
                min-width: 190px;
                text-decoration: none;
                border-bottom: 1px solid transparentize($secondary, 0.6);

                &:hover,
                &:focus {
                  color: $primary;
                  //text-decoration: underline;
                  border-bottom: 1px solid transparentize($primary, 0.5);
                }
              }
            }
          }
        }
      }
    }

    &.menu-products .has-submenu > ul {
      columns: 1 !important;
    }

  }
}

.position-left {
  width: 330px;
  transform: translateX(-330px);
}

.off-canvas {
  padding: 60px 30px;


  &.is-transition-overlap{
    z-index: 99 !important;
  }

  .close-button {
    position: absolute;
    left: 1rem;
    right: auto;
    color: #fff;
  }

  > ul.mobile-navigation {

    > li {
      border-bottom: 1px solid #d9d9d9;

      > a {
        color: #fff;
        font-weight: 600;
        padding: 12px 0;
        text-decoration: none;
      }

      &.active {
        
        > a {
          background-color: transparent;
          color: $secondary;
        }

      }

      &.is-accordion-submenu-parent>a:after {
        color: #fff;
        display: block;
        width: 18px;
        height: 18px;
        border: none;
        font-family: $fontawesome;
        content: "\2b";
        border: none;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 1rem;
      }

      &.is-accordion-submenu-parent[aria-expanded=true]>a:after {
        color: #fff;
        display: block;
        width: 18px;
        height: 18px;
        border: none;
        font-family: $fontawesome;
        content: "\f068";
        border: none;
        position: absolute;
        top: 50%;
        margin-top: -5px;
        right: 1rem;
        
        transform: unset;

      }

      &.is-accordion-submenu-parent.active>a:after {
        
      }

      > ul {
        padding: 0 0 20px;

        > li {

          > a {
            color: #fff;
            font-size: 14px;
            text-decoration: none;
          }

          &.active {
        
            > a {
              background-color: transparent;
              color: $secondary;
            }
    
          }

          &.is-accordion-submenu-parent>a:after {
            color: #fff;
            display: block;
            width: 15px;
            height: 15px;
            border: none;
            font-family: $fontawesome;
            font-size: 11px;
            content: "\2b";
            border: none;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            right: 1rem;
          }
    
          &.is-accordion-submenu-parent[aria-expanded=true]>a:after {
            color: #fff;
            display: block;
            width: 15px;
            height: 15px;
            border: none;
            font-family: $fontawesome;
            content: "\f068";
            border: none;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            right: 1rem;
            
            transform: unset;
    
          }

          ul {
            margin: 20px;
            border-left: 1px solid $secondary;

            li {

              > a {
                color: #fff;
                font-size: 13px;
              }

              &.active {
        
                > a {
                  background-color: transparent;
                  color: $white;
                  text-decoration: underline;
                }
        
              }

              

            }

          }


        }

      }

    }

  }

  ul.mobile-sub-navigation {
   margin-top: 20px;

    li {

      a {
      	background-color: transparent;
        border: 2px solid $secondary;
        border-radius: 5px;
        color: #fff;
        display: block;
        font-family: $sans;
        font-size: 13px !important;
        font-weight: 500;
        margin: 10px auto 10px;
        padding: 7px 18px 7px 18px;
        text-align: center;
      }

      &:first-child a {
        background-color: $secondary;
        color: #fff;
      }

      &.active {
        
        > a {
          background-color: transparent;
          //text-decoration: underline;

          &:first-child {
            background-color: $secondary;
            color: #fff;
          }

        }

      }

    }

  }

  .off-canvas-search {
    //display: flex;
    margin-top: 60px;
    padding: 4px 0;

    .search-form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2px;

      label {
        display: flex;
        align-items: center;
        flex-grow: 1;
  
        i {
          color: $secondary;
          height: 32px;
          margin: 0 10px;
          font-size: 13px;
        }
  
        input {
          background-color: #fff;
          border: none;
          border-radius: 5px;
          font-size: 12px;
          height: 32px;
          margin-bottom: 0;
          position: relative;

          @include breakpoint(medium) {
            font-size: 13px;
            height: 28px;
          }

          &::placeholder {
            color: #ccc;
          }

          &:focus {
            //background-color: $lite-blue;
            background-color: #fff;

            &::placeholder {
              color: #ccc;
            }

          }

        }
  
      }

      .button {
        background-color: $secondary;
        background-color: $secondary;
        border: none;
        padding: 0;
        line-height: 32px;
        color: #fff;
        

        i {
          margin: 0 9px;
        }
      }

    }

  }

}
